<li>
	{{name}}

	<button class="change-state" data-id="{{id}}" data-newState="{{drink}}">
		{{#if drank}}drink{{else}}refill{{/if}}
	</button>

	<button class="delete-smoothie" data-id="{{this.id}}">DELETE!</button>
</li>
